* {
    padding: 0;
    margin: 0;
    line-height: auto;
    box-sizing: border-box;
    max-width: 100%;
    height: auto;
    font-family: sans-serif;
}

.container-1 {
    max-width: 375px;
    width: 100%;
    display: block;
    margin: 0 auto;
    padding-right: 16px;
    padding-left: 16px;
}

.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 567px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.text-head {
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    color: #105296;
    ;
}

.text1-head {
    padding-left: 8px;
    padding-right: 8px;
}

.BG {
    background-size: cover;
    background-image: url(BG.png);
    max-width: 100%;
    height: 708px;
}

.sec1-margin {
    height: 16px;
}

.sec1-option {
    background-color: #071A3F;
    border-radius: 26px 26px 22px 22px;
    height: 546px;
}

.sec1-table {
    display: flex;
    justify-content: center;
}

.sec1-text1 {
    font-size: 15px;
    font-weight: 700;
    border-radius: 0 0 9px 9px;
}

.sec1-text2 {
    width: 100px;

    background-color: white;
    color: #595959;
    position: relative;
    border-radius: 9px 9px 0 0;
    align-items: center;
    text-align: center;
    padding-top: 4px;
    padding-bottom: 5px;
}

.sec1-text3 {
    width: 100px;
    background-color: #C5DDF4;
    z-index: 1111;
    border-radius: 9px 9px 0 0;
    padding-top: 4px;
    align-items: center;
}

.sec1-text4 {
    width: 100px;
    background-color: #0C3D77;
    z-index: 1111;
    border-radius: 9px 9px 0 0;
    padding-top: 6px;
    margin-top: 8px;
    margin-left: 4px;
}

.dots {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #C5DDF4;
    position: absolute;
    top: 4px;
    right: 4px;
}

.sec1-table-body {
    background-color: #192D52;
    border-radius: 0 0 22px 22px;
    max-width: 343px;
}

.sec1-img1 {
    align-items: center;
    text-align: center;
    margin: 0 auto;
    padding-top: 24px;
    padding-bottom: 24px;
    max-width: 100%;
}

.sec1-box {
    display: flex;
    justify-content: center;
    gap: 16px;
    padding-bottom: 16px;

}

.sec1-text2:active {
    background-color: #3C8DD9;
    color: #FFFFFF;
}

.dots:active {
    background-color: #C5DDF4;
}

.sec1-text3:active {
    background-color: #2C74C8;
}

.step {
    height: 80px;
    max-width: 311px;
    background-color: #ECF5FA;
    margin-right: 16px;
    margin-left: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 16px;
}


.in-step {
    display: flex;
    justify-content: space-between;
}

.text1-step {
    height: 24px;
    background-color: #192D52;
}

.text2-step {
    height: 16px;
    background-color: #192D52;
}

.green-1 {
    width: 109px;
    background-color: #629804;
    border-radius: 9px;
    height: 35px;
}

.green-2 {
    width: 109px;
    background-color: #89C53A;
    border-radius: 9px;
    height: 32px;
}

.green-3 {
    background-color: #A0D93C;
    border-radius: 9px;
    max-width: 109px;
    align-items: center;
    text-align: center;
    height: 28px;
    position: relative;
}

.green-4 {
    height: 15px;
    border-radius: 9px;
    width: 105px;
    position: absolute;
    top: 3px;
    right: 2px;
    max-width: 100%;
    background-color: #B0EB62;
    z-index: 11;
}

.yellow {
    background-color: #E4FF55;
    border-radius: 50%;
    height: 8px;
    width: 8px;
    position: absolute;
    top: 3px;
    right: 4px;
}

.green-text {
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    position: absolute;
    z-index: 1111;
    top: 7px;
    left: 7px;
    color: #2E3F00;
}